.image-container {
    position: relative;
    display: inline-block;
}

img {
    width: 30%;
    margin: calc(10%/6);
}

.blur-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .blur-button {
    opacity: 1;
}

.image-container:hover img {
    filter: blur(5px);
}